/* .flex-container{
    display: flex;
}
.left-background{
    width:125%;
    height:156.6%;
}
.anime-photo,.characters-photo,.genres-photo{
    width:83%;
    height: 72.4%;
}
.characters-photo{
   margin-top:-9.2%;
}
.genres-photo{
    margin-top:-13.5%;
 }
.left-background-text{
    margin-top:-25%;
    margin-left:15%;
    font-size: 300%;
    -webkit-text-stroke: 2px #ffffff;
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a:hover{
    font-size: 1.3em;
}
.anime-text,.characters-text,.genres-text{
    margin-top:-40%;
    margin-left:25%;
    font-size:250%;
    -webkit-text-stroke: 2px #ffffff;
    color: black;
    font-weight: bold;
} */

.flex-container{
    display:grid;
    grid-template-columns: auto auto auto;
}
.left-background{
    width: 100%;
    height: 100%;
}
.anime-photo,.characters-photo,.genres-photo{
    width:100%;
    height: 33.5%;
}
.characters-photo,.genres-photo{
    margin-top: -1.5%;
}
.anime-text,.characters-text,.genres-text{
    margin-top:-10%;
    margin-left:3%;
    font-size:250%;
    position:absolute;
    -webkit-text-stroke: 2px #ffffff;
    color: black;
    font-weight: bold;
}
.left-background-text{
    margin-top:-25%;
    margin-left:15%;
    font-size: 300%;
    -webkit-text-stroke: 2px #ffffff;
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a:hover{
    font-size: 1.3em;
}
